.App {
  max-width: 600px;
  margin: 0 auto;
}

.search {
  display: flex;
}

input {
  font-family: inherit;
  padding: 0.5em;
  flex: 1;
}

.word {
  margin-top: 0.5em;
}
.wordTitle {
  font-weight: 700;
}
.wordBody {
  color: #666;
  white-space: pre-wrap;
}

.action {
  opacity: 0;
}

.word:hover .action {
  opacity: 1;
}

.action a {
  display: inline-block;
  margin-right: 0.5em;
  text-decoration: none;
  color: #666;
  font-size: 0.8em;
}

.action a:hover {
  text-decoration: underline;
}
.queryAction {
  color: #666;
  font-size: 0.8em;
  text-align: right;
}

.queryAction a {
  display: inline-block;
  margin-right: 0.5em;
  color: #666;
}
