.App {
  max-width: 600px;
  margin: 0 auto;
}

.search {
  display: flex;
}

input {
  font-family: inherit;
  padding: 0.5em;
  flex: 1;
}

.word{
  margin-top: 0.5em;
}
.wordTitle{
  font-weight: 700;
}
.wordBody{
  color: #666;  
}